.clearfix:before,
.clearfix:after {
    /*content: " " /* apparently this lets it work in opera lol */
    display: block;
}

.clearfix:after {
    clear: both;
    /* this clears both left and right floats*/
    /* instead of just left or right */
}

.container {
    background: #ccc
}

.box {
    width: 100px;
    height: 100px;
    background: #222;
}

.left {
    float: left;
}

.right {
    float: right;
}